h1{border-style: dotted; color:black; border-radius: 20px; outline-color: teal }
p{
	font-size: 20px; font-family: "Arial", Helvetica, sans-serif;
}
h1{
	text-shadow: 3px 1px teal;
}
img{
	border-radius: 20%; 
}

body {px;color: white; border-style: solid; }
h3 {border-style: dotted dashed solid double;
	border-width: 15px;color: black; }
h3 {
	background-color: salmon;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px; font-size: 15px
}
p{
	font-size: 15px;
}
